body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {text-align: center;}

button {
    
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
}

a:link, a:visited {color: white}